@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #e064cc;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;
  --color-grey-4: #212529;
  --color-grey-3: #868e96;
  --color-grey-2: #e9ecef;
  --color-grey-1: #f8f9fa;
}

body {
  font-family: "Nunito", sans-serif;
}

.title-1 {
  font-weight: 800;
  font-size: 2.375rem;
}

.title-2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.title-3 {
  font-weight: 700;
  font-size: 1rem;
}

.title-4 {
  font-weight: 600;
  font-size: 0.75rem;
}

.headline {
  font-weight: 400;
  font-size: 1rem;
}

.body-text {
  font-weight: 400;
  font-size: 0.75rem;
}

.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  width: 230px;
  height: 50px;
  background-color: var(--color-primary);
  color: var(--color-grey-1);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 13px 20px;
}

.btn-primary:hover {
  background-color: var(--color-primary-2);
  border: 1px solid var(--color-primary-2);
}

.btn-secondary {
  width: 60px;
  height: 40px;
  background-color: var(--color-grey-2);
  color: var(--color-grey-4);
  border: 1px solid var(--color-grey-2);
  border-radius: 8px;
}

.btn-secondary:hover {
  background-color: var(--color-grey-3);
  border: 1px solid var(--color-grey-3);
  color: var(--color-grey-1);
}

.btn-secondary:focus {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-grey-1);
}
