@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #e064cc;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;
  --color-grey-4: #212529;
  --color-grey-3: #868e96;
  --color-grey-2: #e9ecef;
  --color-grey-1: #f8f9fa;
}

body {
  font-family: "Nunito", sans-serif;
}

.title-1 {
  font-weight: 800;
  font-size: 2.375rem;
}

.title-2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.title-3 {
  font-weight: 700;
  font-size: 1rem;
}

.title-4 {
  font-weight: 600;
  font-size: 0.75rem;
}

.headline {
  font-weight: 400;
  font-size: 1rem;
}

.body-text {
  font-weight: 400;
  font-size: 0.75rem;
}
